body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.homePage {
  .movie_genre {
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
  }
  .card-title {
    margin-bottom: 0px;
  }
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}
